<nav class="navbar navbar-expand-md sticky-top navbar-dark">
	<a href="/"> <img class="brand" src="logo.svg" alt=""/></a>
	<div class="container-fluid">
		 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon hamburger">
	</span>
  </button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class="navbar-nav">
				
				<a class="nav-link ms-3" href="/events">Upcoming Events</a>
				<a class="nav-link ms-3" href="/events/new">Create Event</a>
				<a class="nav-link ms-3" href="/community">Community</a>
			</div>
			<div class="navbar-nav ml-sm-auto rightLinks" id="navbarSupportedContent">
				<% if(!currentUser) { %>
				<p><%= currentUser %></p>
				<a class="nav-link" href="/login">Login</a>
				<a class="nav-link" href="/register">Register</a>

				<% } else { %>
				<a class="nav-link" href="/logout">Logout</a>
				<p class="nav-link">
					<%=currentUser.username %><img class="profileIcon" src="profile.svg"></img>
				</p>
				<% } %>
			</div></div>>
		</div>
	</div>
</nav>
