<% layout("layouts/boilerplate") %> 

<section class="vw-100 introSection">
	<h2 class="homeHeader">Hello You</h2>
	
    <div class="container-vw-100 introTextContainer">
		
		<p class="introText"><b> This page was created with the aim to bring Berlin-based musicians, artists and party people together.
        If you've got a gig, a party, or anything else you would like to advertise, click on "create event".  Otherwise
        get involved in our network of musicians or else see what's on in your keatz this week.
	</b></p>
	</div>
    </section>	

</div>
	<div class="container vw-90 inFocusContainer">
		<h1 class="col-sm-5 inFocus">In Focus This Week:</h1>
	</div>
		<audio id="audio">
			<source src="clouds.wav">
		</audio>
	<div class="col-sm-5 player">				
		<img class="albumArt1" src="band.jpg" alt=""></img>
			<h5 class="artistInfo">Inga Michneviciute & Daniel Murphy - Clouds on Arran - Uplawmoor OST</h5>
		<div class="player-controls">
			<button id="playAudio"></button>
			<div id="seekObjContainer">
	<div id="seekObj">
		<div id="percentage"></div>
		<p id="currentTime">00:00</p>
	</div>
</div>
		</div>
	</div>
</div>	
</div>
<section>
	<div class="container interviews">
		<h1 class="interviewsh1">Interviews:</h1><h1 class="interviewsh1 Sniff">BEEZER RECORDS</h1> 
		<h3 class="interviewsh3">What's it like being totally wank?</h3>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
</section>



					


<script>
	(function audioPlay() {
		"use strict";
	function $(id) {
		return document.getElementById(id);
	}
	const media = document.getElementById("audio");

	let ui = {
		play: "playAudio",
		audio: "audio",
		percentage: "percentage",
		seekObj: "seekObj",
		currentTime: "currentTime",
	};
	var playPause = document.querySelector("#playAudio");
	function togglePlay() {
		if (media.paused === false) {
			media.pause();
			playPause.style.backgroundImage = "url('play.svg')";
			$(ui.play).classList.remove("pause");
		} else {
			media.play();
			playPause.style.backgroundImage = "url('pause.svg')";
			$(ui.play).classList.add("pause");
		}
	}

	function calculatePercentPlayed() {
		let percentage = (media.currentTime / media.duration).toFixed(2) * 100;
		$(ui.percentage).style.width = `${percentage}%`;
	}

	function calculateCurrentValue(currentTime) {
		const currentMinute = parseInt(currentTime / 60) % 60;
		const currentSecondsLong = currentTime % 60;
		const currentSeconds = currentSecondsLong.toFixed();
		const currentTimeFormatted = `${
			currentMinute < 10 ? `0${currentMinute}` : currentMinute
		}:${currentSeconds < 10 ? `0${currentSeconds}` : currentSeconds}`;

		return currentTimeFormatted;
	}

	function initProgressBar() {
		const currentTime = calculateCurrentValue(media.currentTime);
		$(ui.currentTime).innerHTML = currentTime;
		$(ui.seekObj).addEventListener("click", seek);

		media.onended = () => {
			$(ui.play).classList.remove("pause");
			$(ui.percentage).style.width = 0;
			$(ui.currentTime).innerHTML = "00:00";
		};

		function seek(e) {
			const percent = e.offsetX / this.offsetWidth;
			media.currentTime = percent * media.duration;
		}

		calculatePercentPlayed();
	}

	$(ui.play).addEventListener("click", togglePlay);
	$(ui.audio).addEventListener("timeupdate", initProgressBar);

	window.onload = function () {
		var  = document.getElementById("thefile1");
		var audio = document.getElementById("audio");

		file.onchange = function () {
			

			var context = new AudioContext();
			var src = context.createMediaElementSource(audio);

			
			audio.play();
			renderFrame();
		};
	};
})();

</script>
	
