*::selection {
	background-color: rgb(15, 141, 120);
}
main {
	background-color: rgb(250, 250, 250);
	overflow: hidden;
}

/* N A V B A R */
.brand {
	position: relative;
	left: 70px;
	visibility: visible;
	width: 30px;
	height: auto;
	z-index: 1;
}
.hamburger {
	background-image: url("hamburger.svg") !important;
	outline: none !important;
	border-radius: 50%;
	/* transform: rotate(deg); */
	transition: 0.3s;
}
.hamburger:active {
	transform: rotate(90deg);
	transition: 0.3s;
}
.rightLinks {
	position: relative;
	right: 200px;
}

.navbar {
	position: fixed;
	background-color: #202020;
	/* width: 100vw; */
	display: flex;
}
.nav-link {
	position: relative;
	font-size: small;
	left: 90px;
	text-decoration: none;
	color: white;
	font-weight: 600;
	transition: 0.2s;
}
.nav-link:hover {
	color: rgb(252, 127, 127) !important;
	transition: 0.3s;
}
.profileIcon {
	position: relative;
	left: 10px;
	height: 15px;
	width: auto;
	color: white;
}

/* H O M E P A G E */
.jumbotron {
	/* background-image: url("dng.jpg"); */
	background-color: #202020 !important;
	color: white;
}

.homeHeader h1 {
	font-size: 60px !important;
}
.loginRegister {
	font-size: 90px;
}
.homeHeader,
.inFocus,
.inFocusDate,
.eventTitleSmall,
.commentsHeading,
.int,
.loginRegister {
	font-family: "Anton", sans-serif;
	opacity: 90%;
}
.inFocusDate {
	color: rgb(233, 92, 92);
}
.inFocus,
.eventTitleSmall {
	color: rgb(15, 141, 120);
}
.introText {
	font-size: 20px;
	width: 60%;
}
.homeRow {
	display: flex;
	justify-content: center;
	position: relative;
	top: 100px;
}
.homeText {
	width: 25%;
	height: auto;
}

.inFocus {
	font-size: 70px;
}

/* I N T E R V I E W S */

.interviewsEtc {
	position: relative;
	top: 160px;
	background-color: #1a1919;
	height: 700px;
}
.box {
	position: relative;
	top: 50px;
	height: 400px;
	background-color: brown;
	border: 12px solid #1a1919;
	cursor: pointer;
}
.box:hover {
	filter: brightness(80%);
}
.boxOne {
	background-image: url("https://images.unsplash.com/photo-1571330735066-03aaa9429d89?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
	background-size: cover;
}
.boxTwo {
	background-image: url("https://images.unsplash.com/photo-1481886756534-97af88ccb438?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80");
	background-size: cover;
}
.boxThree {
	background-image: url("https://images.unsplash.com/photo-1597834269142-c134e4a5f20f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=401&q=80");
	background-size: cover;
}
.int {
	position: relative;
	font-size: 30px;
	top: 50px;
	left: 25px;
	max-width: 100%;
	color: white;
}

/* U P C O M I N G */

.showCard {
	background-color: rgb(248, 248, 248);
}
.upcomingEventsHeader {
	position: relative;
	top: 50px;
	font-family: "Anton", sans-serif;
	filter: brightness(140%);
}
.upcomingJumbotron {
	filter: brightness(50%);
	mask-image: black;
	background-size: cover;
}
.eventTitle,
.eventDate {
	font-family: "Anton", sans-serif;
}
.eventDate {
	color: rgb(252, 127, 127);
}
.viewEvent,
.dateSubmit,
.Submit,
.login {
	background-color: rgb(15, 141, 120);
	color: white;
	border: none;
	font-family: "Anton", sans-serif;
	padding: 9px;
	letter-spacing: 1px;
	border-radius: 4px;
	transition: 0.2s;
	cursor: pointer;
}
.viewEvent:hover,
.dateSubmit:hover,
.login:hover {
	background-color: rgb(7, 87, 73);
	color: rgb(240, 240, 240);
	text-decoration: none;
	transition: 0.2s;
}
.fbIcon,
.twitterIcon {
	position: absolute;
	right: 25px;
	bottom: 20px;
	color: rgb(255, 255, 255);
	/* size: 80px; */
	background-color: rgb(0, 0, 0);
	padding: 10px 12px 10px 12px;
	width: 35px;
	border-radius: 50%;
	transition: 0.2s;
}
.twitterIcon {
	right: 70px;
}
.fbIcon:hover,
.twitterIcon:hover {
	background-color: rgb(77, 77, 77);
	transition: 0.15 s;
}

/* D A T E P I C K E R  */
input[type="date"] {
	display: block;
	position: relative;
	border: none;
	padding: 1rem 1.5rem 1rem 0.75rem;
	cursor: pointer;
}
input[type="date"]:focus {
	outline: none;
	border-color: rgb(231, 75, 75);
}
.dateSubmit {
	border: none;
}
.searchByDate {
	font-family: "Anton", sans-serif;
}

/* S H O W P A G E */

.form-control {
	border: none;
	background-color: rgb(255, 255, 255) !important;
}
.eventTitleSmall {
	font-size: 60px;
}
.deleteButton {
	background-color: rgb(228, 81, 81);
	color: white;
	border: none;
	font-family: "Anton", sans-serif;
	padding: 9px;
	letter-spacing: 1px;
	border-radius: 4px;
	transition: 0.2s;
	cursor: pointer;
}
.viewEvent:hover,
.dateSubmit:hover {
	background-color: rgb(7, 87, 73);
	color: rgb(240, 240, 240);
	text-decoration: none;
	transition: 0.2s;
}

/* C O M M U N I T Y P A G E */

.userImage {
	border-radius: 50%;
	padding: 5px;
	object-fit: cover;
}
.profileImage {
	object-fit: cover;
}
.description,
.userHeader {
	font-family: "Anton", sans-serif;
	color: rgb(78, 78, 78);
}
.editIcon {
	color: rgb(15, 141, 120);
}
.editIcon:hover {
	color: rgb(12, 104, 88);
}
.smallCard {
	background-color: black;
	border: none;
}

@media screen and (max-width: 329px) {
	.introText {
		font-size: 15px;
		width: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.rightLinks {
		position: relative;
		right: 0px;
	}
}
